.navbar {
  display: flex;
  border-bottom: 2px solid aliceblue;
}

.navbar h2 {
  text-transform: uppercase;
  margin: 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.navbar ul li a {
  text-decoration: none;
  padding: 25px;
  color: black;
}
