.addProductContainer {
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.addProductContainer p {
  margin-bottom: 5px;
  font-size: 18px;
}

.addProductContainer input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgba(91, 202, 96, 0.884);
  border-radius: 10px;
}
.addProductContainer textarea {
  padding: 10px;
  font-size: 18px;
  border: 1px solid rgba(91, 202, 96, 0.884);
  border-radius: 10px;
  resize: none;
}
.addProductContainer button {
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  font-size: 18px;
  border: 1px solid rgba(91, 202, 96, 0.884);
  border-radius: 10px;
  resize: none;
  background: rgb(31, 114, 6);
  color: white;
}
input,
textarea:focus {
  outline: none;
}
