.container {
  width: 30%;
  margin: auto;
  padding: 10px 50px;
}
.container p {
  font-size: 20px;
}

.container input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  border-color: rgb(190, 189, 189);
}

.container input[type="submit"] {
  width: 20%;
  margin-left: 40%;
  margin-top: 20px;
}

input:focus {
  outline: none;
}
