.container {
  margin: auto;
  max-width: 1120px;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.container .row .col {
  text-align: center;
  border: 2px solid red;
}
